<div class="row">
  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">HORNO INDUCCIÓN 1</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(horno1)">
              {{ horno1 ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">HORNO INDUCCIÓN 2</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(horno2)">
              {{ horno2 ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">SILO COHETE</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(silo_cohete)">
              {{ silo_cohete ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">SILO SUR (ARENA NUEVA)</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(silo_sur)">
              {{ silo_sur ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">SILO NORTE (ARENA REUTILIZADA)</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(silo_norte)">
              {{ silo_norte ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">HORNO 1 T.TERMICOS</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(hornosTT)">
              {{ hornosTT ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 0 10px; display: inline-flex">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">HORNO 2 T.TERMICOS</p>
          <p class="card-title">
            <label [ngClass]="getIndicatorClass(hornosTT)">
              {{ hornosTT ? "ONLINE" : "OFFLINE" }}
            </label>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <br />
<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  class="stats-cards"
>
  <mat-card>
    <p class="equipo1">Estado Equipo 1</p>
    <button [ngClass]="getIndicatorClass(horno1)" class="status-button">
      {{ horno1 ? "Online" : "Offline" }}
    </button>
  </mat-card>
  <mat-card>
    <p class="equipo1">Estado Equipo 2</p>
    <button [ngClass]="getIndicatorClass(horno2)" class="status-button">
      {{ horno2 ? "Online" : "Offline" }}
    </button>
  </mat-card>
  <mat-card>
    <p class="equipo1">Estado silo cohete</p>
    <button [ngClass]="getIndicatorClass(silo_cohete)" class="status-button">
      {{ silo_cohete ? "Online" : "Offline" }}
    </button>
  </mat-card>
  <mat-card>
    <p class="equipo1">Estado silo norte</p>
    <button [ngClass]="getIndicatorClass(silo_norte)" class="status-button">
      {{ silo_norte ? "Online" : "Offline" }}
    </button>
  </mat-card>
  <mat-card>
    <p class="equipo1">Estado silo sur</p>
    <button [ngClass]="getIndicatorClass(silo_sur)" class="status-button">
      {{ silo_sur ? "Online" : "Offline" }}
    </button>
  </mat-card>
  <mat-card>
    <p class="equipo1">Estado T.Termicos Horno 1</p>
    <button [ngClass]="getIndicatorClass(hornosTT)" class="status-button">
      {{ hornosTT ? "Online" : "Offline" }}
    </button>
  </mat-card>
  <mat-card>
    <p class="equipo1">Estado T.Termicos Horno 2</p>
    <button [ngClass]="getIndicatorClass(hornosTT)" class="status-button">
      {{ hornosTT ? "Online" : "Offline" }}
    </button>
  </mat-card>
</div>
<br />

<mat-divider></mat-divider> -->
