<br>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="stats-cards">
    <mat-card>

        <p class="equipo1"> Estado Equipo 1 </p>
        <app-f2-horno1-cs class="statusCard"></app-f2-horno1-cs>

    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado Equipo 2 </p>
        <app-f2-horno2-cs class="statusCard"></app-f2-horno2-cs>

    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado silo cohete </p>
        <app-f2-silo-cohete-cs class="statusCard"></app-f2-silo-cohete-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado silo norte </p>
        <app-f2-silo-norte-cs class="statusCard"></app-f2-silo-norte-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado silo sur </p>
        <app-f2-silo-sur-cs class="statusCard"></app-f2-silo-sur-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado T.Termicos Horno 1</p>
        <app-f2-tt-horno1-cs class="statusCard"></app-f2-tt-horno1-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado T.Termicos Horno 2</p>
        <app-f2-tt-horno2-cs class="statusCard"></app-f2-tt-horno2-cs>
        
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="80">
        <app-f2-silo-cohete></app-f2-silo-cohete>
    </mat-card>
    <mat-card fxFlex="20">
        <app-f2-silo-cohete-barra></app-f2-silo-cohete-barra>
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="80">
        <app-f2-silo-sur></app-f2-silo-sur>
    </mat-card>
   
    <mat-card fxFlex="20">
        <app-f2-silo-sur-barra></app-f2-silo-sur-barra>
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="80">
        <app-f2-silo-norte></app-f2-silo-norte>
    </mat-card>
   
    <mat-card fxFlex="20">
        <app-f2-silo-norte-barra></app-f2-silo-norte-barra>
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>