.online {
    color: green;
    background-color: lightgreen;
    margin-bottom: 10px;
}

.offline {
    color: red;
    background-color: pink;
    margin-bottom: 10px;
}
.status-button {
    border: none;
    cursor: pointer;
    padding: 10px;
}