    .equipo1 {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .statusCard {
        text-align: center;
    }