<br />
<div>
  <app-f2-connection-status class="statusCard"></app-f2-connection-status>
</div>
<br />

<mat-divider></mat-divider>

<br />
<!--<button (click)="download_f2_horno1_corriente()">Descargar CSV</button>-->
<div>
  <app-f2-horno1-potencia></app-f2-horno1-potencia>
</div>
<br />
<mat-divider></mat-divider>

<br />

<div>
  <app-f2-horno1-voltage></app-f2-horno1-voltage>
</div>
<br />

<mat-divider></mat-divider>

<br />

<div>
  <app-f2-horno1-energia></app-f2-horno1-energia>
</div>
<br />

<mat-divider></mat-divider>

<br />

<div>
  <app-f2-horno1-corriente></app-f2-horno1-corriente>
</div>
<br />

<mat-divider></mat-divider>

<br />

<br />

<mat-divider></mat-divider>

<br />
