<br>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="stats-cards">
    <mat-card>

        <p class="equipo1"> Estado Equipo 1 </p>
        <app-f2-horno1-cs class="statusCard"></app-f2-horno1-cs>

    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado Equipo 2 </p>
        <app-f2-horno2-cs class="statusCard"></app-f2-horno2-cs>

    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado silo cohete </p>
        <app-f2-silo-cohete-cs class="statusCard"></app-f2-silo-cohete-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado silo norte </p>
        <app-f2-silo-norte-cs class="statusCard"></app-f2-silo-norte-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado silo sur </p>
        <app-f2-silo-sur-cs class="statusCard"></app-f2-silo-sur-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado T.Termicos Horno 1</p>
        <app-f2-tt-horno1-cs class="statusCard"></app-f2-tt-horno1-cs>
        
    </mat-card>
    <mat-card>

        <p class="equipo1"> Estado T.Termicos Horno 2</p>
        <app-f2-tt-horno2-cs class="statusCard"></app-f2-tt-horno2-cs>
        
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>
<div>
    <app-f2-horno2-potencia></app-f2-horno2-potencia>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-f2-horno2-voltage></app-f2-horno2-voltage>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-f2-horno2-energia></app-f2-horno2-energia>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-f2-horno2-corriente></app-f2-horno2-corriente>
</div>
<br>

<mat-divider></mat-divider>

<br>

<br>

<mat-divider></mat-divider>

<br>