<br>
<div>
    <app-f2-connection-status class="statusCard"></app-f2-connection-status>
</div>
<br>

<mat-divider></mat-divider>

<br>
<div>
    <app-f2-horno2-potencia></app-f2-horno2-potencia>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-f2-horno2-voltage></app-f2-horno2-voltage>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-f2-horno2-energia></app-f2-horno2-energia>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div>
    <app-f2-horno2-corriente></app-f2-horno2-corriente>
</div>
<br>

<mat-divider></mat-divider>

<br>

<br>

<mat-divider></mat-divider>

<br>